

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    text-align: center;
  
    background-color: lightgrey;
}

.playscreen {
    position:absolute; /* Important */
    width: 100%;
    height: 80%;
    top: 0px;
    left: 0px;
    background-color: #FF0000;
  
}

.panel{
    position:fixed;
    width:100%;
    height:20%;
    background-color: beige;
    border:2px groove;
    top:80%;
    left: 0;
}

.ship {
    position: fixed; /* Important */
    width: 50px;
    height: 50px;
    background-color: white; /* Circular shape */
    border-radius: 50%;
    left: 220x;
    top: 220px;
}
