
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Sets the title of webpage -->


    <style>
        body{
            background-color: black;
            text-align: center;
    
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1 {
            font-family: "Arial", sans-serif;
            font-size: 5rem; /* Sets the font-size of h1 = 5 * (font-size of root (<html>)) */
            color: #FF0000;
        }

        p {
            margin-top: 50px;
            font-size: 2rem;
        }

    </style>

</head>
<body>



    <h1>{%block menutitle %}menutitle{%endblock%}</h1>


  
 
  {%block content %}
  {% endblock %}

    {%block ref%}<a href='{% url 'game1_start' %}' >
        <button class="GFG">
            Click Here
        </button>
    </a>
    {%endblock%}

    <script>

    {%block style %} 
    document.getElementsByTagName("body")[0].style = "background-color: yellow;";
    
    {%endblock%}
    </script>
</body>
</html>