{% load static %}


<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/game1.css' %}">

<head>
    <meta charset="UTF-8">
    <title ></title>

    
</head>
<body >


 <div class = "playscreen">
        <div id = "solar_planets">
          <h1 id = "heading"style="color: red; font-size: 48px; background-color: black; border-radius: 30px; width: 20%; left: 40%; position: relative;">Space Game</h1>
                 <img src="{% static 'images/sun.png'%}" class="sun">  
                 <img src="{% static 'images/mercury.png'%}" class="mercury">
              <img src="{% static 'images/venus.png'%}" class="venus">
               <img src="{% static 'images/Earth.png'%}" class="earth">
                <img src="{% static 'images/mars.png'%}" class="mars">
                <img src="{% static 'images/jupiter.png'%}" class="jupiter">
                <img src="{% static 'images/saturn.png'%}" class="saturn">
              <img src="{% static 'images/uranus.png'%}" class="uranus">
               <img src="{% static 'images/neptune.png'%}" class="neptune">
        </div>

        <div class = "sun_b star  " id = Sun></div>
        <div class = "mercury_b star"id = Mercury></div>
        <div class = "venus_b star"id = Venus></div>
        <div class = "earth_b star"id = Earth></div>
        <div class = "mars_b star"id = Mars></div>
        <div class = "jupiter_b star"id = Jupiter></div>
        <div class = "saturn_b star"id = Saturn></div>
        <div class = "uranus_b star"id = Uranus></div>
        <div class = "neptune_b star"id = Neptune></div>
 
      
        <div>
            <img src = "{% static 'images/waypoint.png' %}" id = "waypoint">
            <img src ="{% static 'images/ship.png'%}" id="ship"  > 

            
        </div>

        
    </div>
    <!--bind the data to the div, for it to get accessed later in game1.js -->
   <div id = gg value = "{{planets}}"></div>

    <script src = "{% static 'js/game1.js'%}"></script>



    


   
        <!--    Reverse URL Lookup-->
        
   
        <div id = 'left_panel'> 
  
        <div id = 'buttons'>
            <a href='{% url 'home' %}' class = 'panel_button' >
                <button class = 'button_s' >
                    Home
                </button>
            </a>
       
            <a href='{% url 'game1_start' %}' class = 'panel_button' >
                <button class = 'button_s' >
                    Restart
                </button>
            </a>
    

         </div>
         

         <div id = 'visited_display'>

            <div id = 'display_title'>Planets Visited</div>
            <div id = 'display_text'></div>
         </div>
        </div><!--end of left panel -->
        <img src="{% static 'images/left_panel_overlay.png'%}" id = 'left_panel_overlay'> 

        <div id = 'description'> 
            <div class = feature>Shudafuckup</div>
            <div class = feature>Oh you think you are so good?</div>
            <div class = feature>Thank You</div>
        </div>

        <img src="{% static 'images/description_overlay.png'%}" id = 'description_overlay'>
    
        <div id = 'question' style = 'opacity:0;'> </div>

    

    <div id="win_window" style="visibility: hidden;">
        <img src="{% static 'images/Victory_Screen.jpg' %}" alt="Winner Image" id="win_image">
        <a href='{% url "home" %}'>
            <button id="win_button">Return to Homepage</button>
        </a>
    </div>

</body>
</html>