{% load static %}


<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/game1.css' %}">

<head>
    <meta charset="UTF-8">
    <title ></title>
    <style></style>
    
</head>
<body>
 <div class = "playscreen">
        <div id = "solar_planets">
          <h1 id = "heading"style="color: red; font-size: 48px; background-color: black; border-radius: 30px; width: 20%; left: 40%; position: relative;">Space Game</h1>
                 <img src="{% static 'images/sun.png'%}" class="sun">  
                 <img src="{% static 'images/mercury.png'%}" class="mercury">
              <img src="{% static 'images/venus.png'%}" class="venus">
               <img src="{% static 'images/Earth.png'%}" class="earth">
                <img src="{% static 'images/mars.png'%}" class="mars">
                <img src="{% static 'images/jupiter.png'%}" class="jupiter">
                <img src="{% static 'images/saturn.png'%}" class="saturn">
              <img src="{% static 'images/uranus.png'%}" class="uranus">
               <img src="{% static 'images/neptune.png'%}" class="neptune">
        </div>

        <div class = "sun_b star  " id = Sun></div>
        <div class = "mercury_b star"id = Mercury></div>
        <div class = "venus_b star"id = Venus></div>
        <div class = "earth_b star"id = Earth></div>
        <div class = "mars_b star"id = Mars></div>
        <div class = "jupiter_b star"id = Jupiter></div>
        <div class = "saturn_b star"id = Saturn></div>
        <div class = "uranus_b star"id = Uranus></div>
        <div class = "neptune_b star"id = Neptune></div>
        <div id = "description">yamete yamete yamete </div>
      
        <div id = "win_window">
            <div id = "winning_text">
                Congratulation! You have won!
            </div>
            <a href='{% url 'home' %}' >
                <button class="GFG">
                    Return to Homepage
                </button>
            </a>
        </div>


        <div>
            <img src = "{% static 'images/waypoint.png' %}" id = "waypoint">
            <img src ="{% static 'images/ship.png'%}" id="ship" > 
   


            
        </div>

        
    </div>
    <!--bind the data to the div, for it to get accessed later in game1.js -->
   <div id = 'gg' value = "{{planets}}"></div>

    <script src = "{% static 'js/game1.js'%}"></script>



    
    <div class="panel"> 

   
        <!--    Reverse URL Lookup-->

        <div id = 'home_button'>
        <a href='{% url 'home' %}' style = 'left: 0px' >
            <button  style = 'left: 0px'>
                Home Screen
            </button>
        </a>
        </div>

     
    </div>


</body>
</html>