
{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/game1_menu.css' %}">
<head>
  <meta charset="UTF-8">
  <title>Journey Among Stars</title>
</head>
<body style= 'background-image: url("{% static 'images/Instruction_bg.jpg' %}")'>

  <audio autoplay loop id = 'lain'>
    <source src = "{% static 'sound/lain.mp3' %}" type="audio/mpeg">
</audio>
  <h1 id = 'title'>StarCraft 3: Solar Journey </h1>


  <div id = name_input>
    <form  >
    
    <div id = 'text_element'>
        <h2 style = 'background-color: white; color: blue; border-radius: 10px; margin: 1%; text-align: center; border-style: solid; border-width: 4px; border-color: blue; width: 50%; font-size:60px;'>Your Name</h2>
        <p style = 'font-size: 20px; margin: 1%;'>Enter your name. You can either type or speak out your name </p>
        <input type = 'text' id = input_box placeholder="Dante" name = 'userInput'>
        <p id="status">Press the start listening button and say name...</p>
        <p id = 'result'></p>
    </div>
   
    </form>

    <button id = 'mic' onclick = 'startListening()' class = 'GFG'style = 'margin-bottom:2%;'>Speak Thy Name </button>
    </div>
  <div id = 'buttons' style = 'margin-top: 5%;'>
      <button class="GFG" onclick = 'admit_user()'>🚀 Start Game</button>
      <button id="load" onclick = 'load_saves()' class = 'GFG'>Load Game</button>
      <button onclick="showInstruction()"class = "GFG">Show Instruction</button>
  </div>
   <div id='black_screen'></div>

   <div id = 'instruction'>
    <h1>Instructions to start your journey of Solar System</h1>

    <div id="text_background">
      <p> Welcome to the game! </p>
      <p>• Your mission is to explore the solar system.</p>
      <p>• Click anywhere to move your spaceship.</p>
      <p>• Visit all the planets and the Sun.</p>
      <p>• When you reach a planet, a fun fact will appear.</p>
      <p>• Keep exploring until you've visited them all!</p>
    </div>

    <div id = 'instruction_buttons'>
      <button id ='close_instruction_button' onclick = 'closeInstruction()' class = "GFG" style = 'margin-right: 40px;'>Back to Menu</button>
      <button onclick="speakInstructions()" class="GFG">🎤 Read Instructions</button>
    </div>
</div>

    <div id="load_panel">
        <h2 style = 'background-color:white; font-size:70px;'>Past Saves</h2>
        <!--display all the users that is currently on database-->
        <div class = 'half_panel'>
            <select multiple id="user_select" style = 'width:80%; height: 90%;'></select>
            <button id = 'select_user_button'>select user</button>
        </div>
        <!-- saves for that specific users-->
        <div class = 'half_panel' id = 'save_select'>
            <select multiple id ='savepoints_select' style = 'width:80%; height: 90%;'></select>
            <button id ='select_load_button'>select load</button>
        </div>
        <button id="exit_load_saves" onclick="close_saves()">Exit</button>
    </div><!--end of black screen-->

  <div id = 'space_users' value = '{{space_users}}'></div>
  <div id = 'space_saves' value = '{{space_saves}}'></div>
  <script src = "{% static 'js/game1_menu.js'%}"></script>
 

</body>
</html>
