body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a3b5d8;
}
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#buddha {
    width: 40px;
    height: 40px;
    background-color: rgb(164, 180, 48);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}