body {
    background-color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-family: "Arial", sans-serif;
    font-size: 4rem;
    color: #00ff77;
    text-shadow: 4px 4px 4px black;
    position: relative;
    margin: 20px;
  }

  p {
    font-family: "Arial Black", sans-serif;
    margin-top: 20px;
    font-size: 2.2rem;
    color: black;
    text-shadow: 3px 3px 4px white;
  }

  .GFG {
    font-size: 1.5rem;
    padding: 15px 30px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

  .GFG:hover {
    background-color: darkgreen;
  }


  #load_panel{
    position: absolute;
    width:80%;
    height:80%;
    left:10%;
    top:10%;
    border-radius: 40px;
    background-color: pink;
    visibility: hidden;
    flex-direction:column;
    display: flex;
}

#black_screen{
    position:absolute;
    width:100%;
    height:100%;
    left:0%;
    top:0%;
    background-color:rgba(0, 0, 0, 0.647);
    visibility: hidden;
}

.half_panel{
    height:100%;

}

#save_select{
    visibility: hidden;
}

#instruction{
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left:0%;
  top:0%;
  justify-items:center;
}

#text_background {
  background-color: rgb(234, 234, 234);
  padding: 10px;
  border-radius: 40px;
  width: 80%;
  height: 70%;
  justify-content:center;
  margin-bottom: 20px;
  position: relative;
}


#instruction_buttons{
  display: flex;
  flex-direction:row;
  position: relative;
  justify-items: center;

}

#input_box{
  margin: 1%; 
  border-radius: 20px; 
  padding: 2%; 
  text-align: center;
  width:25%;
  font-size:large;
  /*background-color: rgba(234, 234, 234, 0.73);*/
}

#text_element{
  background-color: rgba(234, 234, 234, 0.829);
  padding: 10px;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;

}

@font-face {
  font-family: scFont;
  src: url("static/starcraft.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#title{
  font-family: scFont, sans-serif;
  background-color: rgba(128, 128, 128, 0.71);
  color: blue;
}